<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Dict</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav n">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/view-dict">View Dictionary</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/add-dict">Add Dictionary</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/add-entry">Add Entry</a>
                </li>
            </ul>
        </div>
    </div>
</nav>