<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div class="input-group mb-3" ngModelGroup="userData">
      <input type="text" class="form-control" placeholder="Name" name="Name" id="name" ngModel required/>
      <input type="text" class="form-control" placeholder="Label" name="Label" id="label" ngModel required/>
  </div>
  <div class="input-group mb-3" ngModelGroup="userData">
    <input type="text" class="form-control" placeholder="Key" name="Key" id="key" ngModel required/>
    <input type="text" class="form-control" placeholder="ParentKey" name="ParentKey" id="parent_key" ngModel required/>
    <input type="text" class="form-control" placeholder="Tenant" name="Tenant" id="tenant" ngModel required/>
  </div>
  <textarea ngModelGroup="userData" cols="4" type="text" class="form-control" placeholder="Content" name="Content" id="content" ngModel required></textarea>
  <label for="type">Select Type</label>
  <div ngModelGroup="userData">
    <select id="type" class="form-control" name="type" ngModel required>
      <option value="DictionaryAbsenceType">DictionaryAbsenceType</option>
    </select>
  </div>
</form>
<button class="btn btn-primary" [disabled]="!f.valid" type="submit" (click)="onSubmit(f.value)">Add Dictionary</button>
<div class="alert-info" *ngIf="submitted">
  Dictionary added
</div>
