<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="input-group mb-3" ngModelGroup="userData">
        <input type="text" class="form-control" placeholder="Search by key" name="dictionary" id="dictionary" ngModel />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
    <label for="type">Select Type</label>
    <select id="type" class="form-control" name="type" ngModel required>
    <option value="DictionaryAbsenceType">DictionaryAbsenceType</option>
  </select>
</form>
<div>
  <p *ngIf="loadedDicts.length < 1">No dictionaries available</p>
  <ul class="list-group" *ngIf="loadedDicts.length >= 1">
    <li class="list-group-item" *ngFor="let dict of loadedDicts">
      <h3>{{ dict.Name }}</h3>
      <p>{{ dict.Type }}</p>
    </li>
  </ul>
</div>
