<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3" ngModelGroup="userData">
        <input type="text" class="form-control" placeholder="Search by key" name="dictionary" id="key" ngModel />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
    <label for="type">Select Type</label>
    <select id="type" class="form-control" name="type" ngModel required>
    <option value="AbsenceType">AbsenceType</option>
    <option value="DictionaryAbsenceType">DictionaryAbsenceType</option>
  </select>
</form>
<div>
    <p *ngIf="loadedDicts.length < 1">No dictionaries available</p>
    <div class="list-group" *ngIf="loadedDicts.length >= 1">
        <app-dictionary-list-item *ngFor="let dictionary of loadedDicts; let i = index" [dict]="dictionary" [index]="i"></app-dictionary-list-item>
    </div>
</div>
